body, html {scroll-behavior: smooth !important;box-sizing:border-box;width: 100%;font-family: "Nunito", sans-serif!important;background-color: white !important;color:black!important;margin:0;}

/* UTILS */
section{height: 100vh !important;}
.underline {box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);text-decoration: none;color: white;}

/* LOGO */
.logo img {width: 10rem;}
.logo {float: left !important;padding: 0px 15px !important;margin: 11px 0px !important;text-decoration: none !important;transition: transform .25s ease !important;width: 40px;display: flex !important;align-items: center;}
.textlogo {display: block;float: left;font-size: 1.3em;padding: 1rem 1rem;text-decoration: none;color:rgb(255, 255, 255); margin-left:20px;}

/* header */
.header {background-color: white; box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); width: 100%; position: fixed; z-index: 1;}
.header ul {margin: 0;padding: 0;list-style: none;overflow: hidden;background-color: white;}
.header li a {display: block;padding: 15px 15px;text-decoration: none;color: black;transition: 0.3s;}
.header li a:hover,.header .menu-btn:hover {color: #686868}

/* menu */
.header .menu {clear: both;max-height: 0;transition: max-height .2s ease-out;}
/* menu icon */
.header .menu-icon {cursor: pointer;display: inline-block;float: right;padding: 28px 20px;position: relative;user-select: none;}
.header .menu-icon .navicon {background: black;display: block;height: 2px;position: relative;transition: background .2s ease-out;width: 18px;}
.header .menu-icon .navicon:before,.header .menu-icon .navicon:after {background: black;content: '';display: block;height: 100%;position: absolute;transition: all .2s ease-out;width: 100%;}
.header .menu-icon .navicon:before {top: 5px;}
.header .menu-icon .navicon:after {top: -5px;}
/* menu btn */
.header .menu-btn {display: none;}
.header .menu-btn:checked ~ .menu {max-height: 300px;}
.header .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
.header .menu-btn:checked ~ .menu-icon .navicon:before {transform: rotate(-45deg);}
.header .menu-btn:checked ~ .menu-icon .navicon:after {transform: rotate(45deg);}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {top: 0;}
/* 48em = 768px */
@media (min-width: 55em) {
.header li {float: left;}
.header li a {padding: 20px 30px;}
.header .menu {clear: none;float: right;max-height: none;}
.header .menu-icon {display: none;}
.header li a:hover,.header .menu-btn:hover {transform: scale(0.85);color: #686868}
}

/* Scroll Down */
.scrolldown {left: 50%;position: absolute;text-align: center;bottom: 0;transform: translate(-50%, -50%);border: 2px solid black;border-radius: 30px;height: 46px;margin: 0 auto 8px;text-align: center;width: 30px;}
.scrolldown-p1,.scrolldown-p2 {animation-duration: 1.5s;animation-name: scrolldown;animation-iteration-count: infinite;fill: black;}
.scrolldown-p2 {animation-delay: .75s;}
@keyframes scrolldown {0% {opacity: 0;transform: translate(0, -8px);}50% {opacity: 1;transform: translate(0, 0);}100% {opacity: 0;transform: translate(0, 8px);}}

/* UP BTN */
#upBtn {display: none;position: fixed;bottom: 20px;right: 30px;z-index: 99;border: none;outline: none;background-color: transparent;cursor: pointer;padding: 15px;border-radius: 10px;height: 4rem;width: 4rem;}
#upBtn:hover {background-color: rgba(179, 179, 179, 0.333);}
.btnImg {display: block;margin-left: auto;margin-right: auto;width: 100%;}

  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  .about-section {
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .columns {
    float:left;
    width: 33.3%;
    padding: 25px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .priceHeader {
    background-color: #333;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

/* HOME */
#home .middle-left {position: absolute;top: 55%;left: 30%;transform: translate(-50%, -50%);font-size: clamp(3rem, 4vw, 7rem);color: white;}
#home .middle-right {position: absolute;top: 40%;left: 80%;transform: translate(-50%, -50%);font-size: clamp(3rem, 4vw, 7rem);color: white;}
#home .title h1{text-align: center;padding:25%;color: black;font-family: "Nunito", sans-serif;font-size: clamp(3rem, 8vw, 7rem);}
#home .welcome {height: 100%;padding-top: 100px;display: flex;justify-content: space-around;margin-right: 5%;margin-left: 5%;}
#home .welcome h1 {font-family: "Nunito", sans-serif;font-size: clamp(2rem, 6vw, 5rem);color: black;}
#home .welcome p {font-family: "Nunito", sans-serif;font-size: calc(8px + 1vw);color: black;}
#home .earth {width: 30vw;margin-top: 4vw;}
.text {display: flex;align-items: center;justify-content: center;}

/* Responsiv display for home */
@media screen and (max-width: 50em) {
    #home .middle-left {position: absolute;top: 35%;left: 50%;transform: translate(-50%, -50%);font-size: clamp(3rem, 4vw, 7rem);color: white;}
    #home .middle-right {position: absolute;top: 65%;left: 50%;transform: translate(-50%, -50%);font-size: clamp(3rem, 4vw, 7rem);color: white;}
    #home .earth {width: 50vw;}
}

.marginzero{
  margin: 0 !important;
}

footer{background-color: #333; height: 45vh;}

.footerinfos{width: 400px; height: 255px; margin: auto; background-color: #333; color: white;}